.pageTitle  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    margin: 20px;
    text-align: center;
}

.default-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border-width: 1px;
    margin: 10px;
}

.search {
    padding: 10px;
    border-radius: 4px;
    border-color: rgb(188, 188, 188);
    border-width: 2px;
    border-style: solid;
}