.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-window {
    max-width: 400px;
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1001;
}

.popup-window h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-top: 0;
}

.popup-window p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.popup-github-link {
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.open-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button {
    margin-top: 20px;
    padding: 10px;
    background-color: coral;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}